{
    "ecmaFeatures": {
        "classes": true,
        "arrowFunctions": true,
        "blockBindings": true,
        "forOf": true,
        "defaultParams": true,
        "templateStrings": true,
    }
}
