html
  head
    title Plane partition
    link href="style.css"
    script src="bundle.js"
  body
    h1 Plane partition
    img#src src="img/iStock_000080893319_s.jpg"
    canvas#place-holder
    canvas#finish
